@use "../../responsive.scss" as resp;

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    a {
        transition: all 0.4s ease;

        @include resp.sm {
            display: none;
        }

        &:hover {
            scale: 1.05;
        }
    }

    .nav-left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo {
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img {
                width: 28px;
            }

            @include resp.md {
                display: none;
            }

            @include resp.sm {
                display: initial;
            }
        }
    }
    
    .nav-right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #fcf5f3;
        height: 100px;

        a {
            padding: 12px 24px;
            margin: 20px;
        }

        .user {
            display: flex;
            align-items: center;
            font-weight: bold;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }

            span {
                @include resp.sm {
                    display: none;
                }
            }

            .profile {
                padding: 12px 24px;
                background-color: #fece51;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                position: relative;

                .notification {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }

        .register{
            background-color: #fece51;
        }

        .menu-icon {
            display: none;
            z-index: 999;

            img {
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            @include resp.sm {
                display: inline;
            }
        }

        @include resp.md {
            background-color: transparent;
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            &.active {
                right: 0;
            }

            @include resp.sm {
                a {
                    display: initial;
                }
            }
        }

    }
}